bridge/runtime
*.txt
maps
packages
plugins
vs_project
bt.dat
LICENSE
node.dll
README.md
server.exe
conf.json
MySQL
node_modules
package-lock.json
package.json
sources
RestartOnCrash
UsbWebServer
coords.txt
Setting.db
*.pdf